# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List of popular languages
- List of commonly used libraries
- Popular open data science Tools

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

- Pamdas
- NumPy
- Matplotlib

Data Science Tools

Number|Open Source tools|
------|-----------------|
1|Jupiter Notebook|
2|R Studio|
3|Git Hub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Aleksei